/ {
	zephyr,user {
		pwm-names = "in_1", "in_2", "in_3", "in_4";
		pwms = <&in_1 1 PWM_KHZ(20) PWM_POLARITY_NORMAL>,
			   <&in_2 2 PWM_KHZ(20) PWM_POLARITY_NORMAL>,
			   <&in_3 3 PWM_KHZ(20) PWM_POLARITY_NORMAL>,
			   <&in_4 4 PWM_KHZ(20) PWM_POLARITY_NORMAL>;
	};
};

&spi1 {
    status = "okay";
    cs-gpios = <&gpioa 4 GPIO_ACTIVE_LOW>; /* CS Pin A4 */

	ssd1306: ssd1306@0 {
		compatible = "solomon,ssd1306fb";
		reg = <0>;

		data_cmd-gpios = <&gpiob 0 GPIO_ACTIVE_HIGH>; /* DC Pin B0 */
		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <63>;
		segment-remap;
		com-invdir;
		prechargep = <0x22>;
		reset-gpios = <&gpiob 1 GPIO_ACTIVE_LOW>; /* RES Pin B1 */
		height = <64>;
		width = <128>;
		spi-max-frequency = <8000000>;
	};
};

&timers2 {
	status = "okay";

	in_1: pwm1 {
		status = "okay";
		#pwm-cells = <3>;
		compatible = "st,stm32-pwm";
		pinctrl-0 = <&tim2_ch1_pwm_out_pa0>;
		pinctrl-names = "default";
	};

	in_2: pwm2 {
		status = "okay";
		#pwm-cells = <3>;
		compatible = "st,stm32-pwm";
		pinctrl-0 = <&tim2_ch2_pwm_out_pa1>;
		pinctrl-names = "default";
	};

	in_3: pwm3 {
		status = "okay";
		#pwm-cells = <3>;
		compatible = "st,stm32-pwm";
		pinctrl-0 = <&tim2_ch3_pwm_out_pa2>;
		pinctrl-names = "default";
	};

	in_4: pwm4 {
		status = "okay";
		#pwm-cells = <3>;
		compatible = "st,stm32-pwm";
		pinctrl-0 = <&tim2_ch4_pwm_out_pa3>;
		pinctrl-names = "default";
	};

};
